.update-button {
  
  padding: 14px;
  background-color: var(--Purple);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--Black);
  

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
